# Aggregate
Notebook collates all csvs, appends extra columns to those missing pH_SW and pH_QF columns and outputs as a single CSV

In [53]:
import cudf
import cupy as cp
import os

In [68]:
try:
    df = cudf.read_csv('aggregated.csv')
except Exception:
    df = cudf.DataFrame(columns=['Mooring Name', 'Latitude', 'Longitude', 'Date', 'Time',
           'xCO2 SW (wet) (umol/mol)', 'CO2 SW QF', 'H2O SW (mmol/mol)',
           'xCO2 Air (wet) (umol/mol)', 'CO2 Air QF', 'H2O Air (mmol/mol)',
           'Licor Atm Pressure (hPa)', 'Licor Temp (C)', 'MAPCO2 %O2', 'SST (C)',
           'Salinity', 'xCO2 SW (dry) (umol/mol)', 'xCO2 Air (dry) (umol/mol)',
           'fCO2 SW (sat) uatm', 'fCO2 Air (sat) uatm', 'dfCO2',
           'pCO2 SW (sat) uatm', 'pCO2 Air (sat) uatm', 'dpCO2', 'pH_SW', 'pH_QF'])

    for file in os.listdir('.'):
        if file.endswith('.csv'):
            temp_df =cudf.read_csv(file)
            temp_df.columns = ['Mooring Name', 'Latitude', 'Longitude', 'Date', 'Time',
               'xCO2 SW (wet) (umol/mol)', 'CO2 SW QF', 'H2O SW (mmol/mol)',
               'xCO2 Air (wet) (umol/mol)', 'CO2 Air QF', 'H2O Air (mmol/mol)',
               'Licor Atm Pressure (hPa)', 'Licor Temp (C)', 'MAPCO2 %O2', 'SST (C)',
               'Salinity', 'xCO2 SW (dry) (umol/mol)', 'xCO2 Air (dry) (umol/mol)',
               'fCO2 SW (sat) uatm', 'fCO2 Air (sat) uatm', 'dfCO2',
               'pCO2 SW (sat) uatm', 'pCO2 Air (sat) uatm', 'dpCO2', 'pH_SW', 'pH_QF']
            df = df.append(temp_df)
            del temp_df

    df.head()
    df.to_csv('aggregated.csv', index=False)
finally:
    df = cudf.read_csv('aggregated.csv')

In [69]:
df.head()

,Mooring Name,Latitude,Longitude,Date,Time,xCO2 SW (wet) (umol/mol),CO2 SW QF,H2O SW (mmol/mol),xCO2 Air (wet) (umol/mol),CO2 Air QF,...,xCO2 SW (dry) (umol/mol),xCO2 Air (dry) (umol/mol),fCO2 SW (sat) uatm,fCO2 Air (sat) uatm,dfCO2,pCO2 SW (sat) uatm,pCO2 Air (sat) uatm,dpCO2,pH_SW,pH_QF
0,LA_PARGUERA_67W_18N,17.954,-67.051,12/3/11,3:17,466.0,2,12.02,390.9,2,...,471.6,395.3,452.1,379.0,73.2,453.5,380.1,73.4,-999.0,5.0
1,LA_PARGUERA_67W_18N,17.954,-67.051,12/3/11,6:17,484.1,2,11.68,392.9,2,...,489.8,397.1,468.7,380.0,88.7,470.1,381.2,89.0,-999.0,5.0
2,LA_PARGUERA_67W_18N,17.954,-67.051,12/3/11,9:17,466.9,2,11.32,407.4,2,...,472.3,411.7,451.8,393.9,58.0,453.2,395.1,58.1,-999.0,5.0
3,LA_PARGUERA_67W_18N,17.954,-67.051,12/3/11,12:17,468.3,2,12.00,402.5,2,...,474.0,406.8,454.2,389.8,64.4,455.6,391.0,64.6,-999.0,5.0
4,LA_PARGUERA_67W_18N,17.954,-67.051,12/3/11,15:17,465.9,2,13.04,395.1,2,...,472.0,399.6,452.0,382.6,69.4,453.4,383.8,69.6,-999.0,5.0